@import url('https://fonts.cdnfonts.com/css/perfect-dos-vga-437');

html,
body {
  background: var(--black);
  font-family: 'Perfect DOS VGA 437', sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
}


a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
  background: #0f1318;
}
